fastapi
uvicorn
git+https://github.com/sunsmarterjie/yolov12.git
python-multipart
pillow
numpy
sqlalchemy[asyncio]
asyncpg
alembic
python-dotenv
google-generativeai
sahi
torchvision
opencv-contrib-python
passlib[bcrypt]
bcrypt==3.2.2
python-jose[cryptography]
python-multipart
email-validator
huggingface_hub
aiosqlite
